@import '~bpk-mixins';
@import '../base.scss';

@media screen and (min-width: $screen-sm) {
  .App {
    &_footer {
      margin-top: 0% !important;
    }
  }
}

.App {

  &_card {
    margin: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &_wrap {

    div {
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;

      svg {
        align-items: center;
        margin: auto;
        height: 30px;
        width: 30px;
      }
    }
  }

  &_footer {
    display: flex;
    flex-basis: 78%;
    margin-top: 3%;

    &_spans {
      flex: 1 1 70%;
      max-width: 70%;

      &_price {
        position: relative;
        display: block;
        font-size: 20px;
      }

      &_agent {
        text-transform: lowercase;
        color: $secondary-txt-color;
        font-size: 15px;
        display: block;
        line-height: 15px;
      }
    }

    &_btn {
      flex: 1 1 30%;
      max-width: 30%;

      button {
        float: right;
        line-height: 20px;
        margin-top: .45rem;
        margin-right: 5%;
      }
    }
  }

  &_icon {
    width: 25px;
    height: 25px;
    border-radius: 4px;
  }

  &_record {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 78%;
    flex: 1 1;
    width: 100%;

    &_sec-tex {
      color: $secondary-txt-color;
    }

    &_depature {
      flex: 0 1 20%;
      max-width: 20%;
      margin-left: 2%;

      &_time {
        position: relative;
        color: #524c61;
        display: block;
      }
    }

    &_stop {
      flex: 0 1 20%;
      max-width: 20%;
      padding: .75rem;
    }

    &_arrival {
      flex: 0 1 30%;
      max-width: 30%;

      &_time {
        position: relative;
        color: #524c61;
        display: block;
      }
    }

    &_arrow-right {
      fill: $secondary-txt-color;
    }

    &_summary {
      flex: 0 1 20%;
      max-width: 20%;
      float: right;
      text-align: right;

      span {
        font-size: 13px;
      }

      &_red {
        color: $red;
      }

      &_green {
        color: $green;
      }

      &_duration {
        position: relative;
        color: #524c61;
        display: block;
      }
    }
  }

}
